<p>&nbsp;</p>
<h3>Welcome</h3>
<p>GDGs are local groups of developers who are specifically interested in Google products and APIs. Each local group is called a GDG chapter and can host a variety of technical activities for developers - from just a few people getting together to watch our latest videos, to large gatherings with demos and tech talks, to hackathons. </p>

<p>GDG Suncoast serves the Tampa Bay area including St Petersburg, Clearwater, and Tampa. Check out our <a href="https://www.meetup.com/gdgsuncoast/" target="_blank">Meetup</a> page for the latest information on our upcoming events.  </p>

<p>We also encourage you to check out the <a href="https://www.meetup.com/Tampa-and-Orlando-Google-Cloud-Computing-Events/" target="_blank">Tampa and Orlando Google Cloud Computing Events Meetup</a> page for local events related to Google Cloud. 

<p>Harassment of anyone for any reason is not acceptable within our events and communities. Check out our <a routerLink="/conduct" routerLinkActive="active">Code of Conduct</a> for a clear definition of our expectations. </p>

<p>Join the conversation on <a href="https://join.slack.com/t/gdgsuncoast/shared_invite/enQtNjA0MTY5MTE4Nzg1LTYzNWNmMmE1NDc4NzEyYzNiYzc4YmVhZmJmY2E2MzkxMjRhNmJlNzZlZjI4YzQwZjRiNWE5NTIxODU5YTYxOTI" target="_blank">Slack</a></p>

<h2>Join our Mailing List</h2>

